# Supabase (REQUIRED)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Email — Phase 5
RESEND_API_KEY=

# Payments — Phase 4
MONCASH_CLIENT_ID=
MONCASH_CLIENT_SECRET=
MONCASH_BASE_URL=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
